<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/88f49827-aab6-456b-9d7c-9a81735b7add/resourceGroups/UserManagement/providers/Microsoft.Web/sites/TheNumberFinderApi</ResourceId>
    <ResourceGroup>UserManagement</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://thenumberfinderapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>thenumberfinderapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TheNumberFinderApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TheNumberFinderApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>